{% extends 'Home/base.html' %} {% load static %} {% block body %}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'student_list' %}">Students</a>
            </li>
            <li class="breadcrumb-item active">Add Students</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Student Information</span></h5>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="nom"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="prenom"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Age</label>
                    <input
                      type="number"
                      class="form-control"
                      name="age"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Student Id</label>
                    <input type="text" class="form-control" name="student_id" />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                      <option value="">Select Gender</option>
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <div>
                      <input
                        type="date"
                        class="form-control"
                        name="date_of_birth"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Class</label>
                    <input
                      type="text"
                      class="form-control"
                      name="student_class"
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Joining Date</label>
                    <div>
                      <input
                        type="date"
                        class="form-control"
                        name="joining_date"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Mobile Number</label>
                    <input
                      type="text"
                      class="form-control"
                      name="mobile_number"
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Admission Number</label>
                    <input
                      type="text"
                      class="form-control"
                      name="admission_number"
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Section</label>
                    <input type="text" class="form-control" name="section" />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Student Image</label>
                    <input
                      type="file"
                      class="form-control"
                      name="student_image"
                    />
                  </div>
                </div>

                <div class="col-12">
                  <h5 class="form-title"><span>Parent Information</span></h5>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Parent</label>
                    <select name="parent" class="form-control" required>
                      <option value="">Select Parent</option>
                      {% for parent in parents %}
                      <option value="{{ parent.id }}">
                        {{ parent.nom }} {{ parent.prenom }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Address</label>
                    <textarea
                      class="form-control"
                      name="adresse"
                      required
                    ></textarea>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
