{% extends 'Home/base.html' %} {% load static %} {% block body %}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Edit Students</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'student_list' %}">Students</a>
            </li>
            <li class="breadcrumb-item active">Edit Students</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Student Information</span></h5>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>First Name</label>
                    <input
                      type="text"
                      name="nom"
                      class="form-control"
                      value="{{ student.nom }}"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input
                      type="text"
                      name="prenom"
                      class="form-control"
                      value="{{ student.prenom }}"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Age</label>
                    <input
                      type="number"
                      name="age"
                      class="form-control"
                      value="{{ student.age }}"
                      required
                    />
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Student Id</label>
                    <input
                      type="text"
                      class="form-control"
                      value="{{ student.id }}"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Parent</label>
                    <select name="parent" class="form-control" required>
                      {% for parent in parents %}
                      <option
                        value="{{ parent.id }}"
                        {%
                        if
                        parent.id=""
                        ="student.parent.id"
                        %}selected{%
                        endif
                        %}
                      >
                        {{ parent.nom }} {{ parent.prenom }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <label>Address</label>
                    <textarea name="adresse" class="form-control" required>
{{ student.adresse }}</textarea
                    >
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
